@font-face{
	font-family:'Matter-Bold'; src:url('../fonts/matter_bold.otf');
}

@font-face{
	font-family:'Matter-Medium'; src:url('../fonts/matter_medium.otf');
}

@font-face{
  font-family:'Matter-Regular'; src:url('../fonts/matter_regular.otf');
}

header {position:fixed;top:0;left:0;right:0;background:#fff;z-index:9;}
body {overflow-x: hidden;}

html {
    scroll-behavior: smooth;
}

a:hover, a:focus {text-decoration:none;}

.logo-home {max-width:200px;}

.home-background {background:url('../images/fondo_home.jpg');background-size:cover;background-position:center;height:auto;padding-bottom:0;min-height:100vh;}
.text-right-home h3 {font-family: 'Matter-Bold';color: #fff;font-size:5em;text-align: right;line-height: 0.9;}
.text-right-home {text-align:right;padding-right:6%;}
.text-right-home img {max-width: 280px;margin: 15px 0;}
.text-right-home p {font-family: 'Matter-Bold';color: #fff;font-size: 1.2em;line-height: 1.2;}

.home-background .hover-click {max-width:400px;}

.h-row-2-home {min-height: 30vh;height: 100%;}
.border-button-01::before {content: '';border: 4px #d6f7f6 solid;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 9;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;}
.border-button-02::before {content: '';border: 4px #f7b2b8  solid;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 9;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;animation-delay:0.5s;}
.border-button-03::before {content: '';border: 4px #dcbff7 solid;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 9;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;animation-delay:1s;}
.button-box {height:100%;}
.box-back {transition:.6s;}
.button-box:hover .box-back {transition:.6s;background:#5469E5 !important;}
.button-box:hover .back-box-01 {transition:.6s;opacity:.6;}
.button-box:hover .back-box-02 {transition:.6s;opacity:.6;}
.button-box:hover .back-box-03 {transition:.6s;opacity:.6;}
.button-box:hover {text-decoration:none;}
.button-box .back-box-01 {background:url('../images/img_box_01.jpg');background-size:cover;background-position:top center;transition:.6s;}
.button-box .back-box-02 {background:url('../images/img_box_02.jpg');background-size:cover;background-position:top center;transition:.6s;}
.button-box .back-box-03 {background:url('../images/img_box_03.jpg');background-size:cover;background-position:top center;transition:.6s;}
.button-box h5 {font-family:'Matter-Bold';color:#fff;line-height:1;margin: 0;padding:40px 15%;font-size: 23px;}

.seccion-02-back {background:url('../images/back_seccion_02.jpg');background-size:cover !important;background-position:top center !important;min-height:100vh;background-attachment:fixed !important;}
.seccion-02-back h5 {font-family: 'Matter-Bold';color: #fff;font-size: 35px;padding: 15px 15%;margin: 0;line-height: 1;}
.seccion-02-back p {font-family: 'Matter-Medium';color: #000838;margin: 0;font-size: 19px;padding: 20% 10%;line-height:1.3;}

.custom-parrafo-infecciones p {margin: 0;color: #00C6DA;font-family: 'Matter-Medium';font-size: 18px;}


.footer-flechas {opacity:0 !important;}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.seccion-circles {padding:90px 0 0;}
.seccion-circles h4 {font-family: 'Matter-Bold';margin:0 0 50px;color:#000838;}
.seccion-circles h5 {font-size:21px;}
.circle-01 {
background: rgba(98,216,214,1);
background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(100%, rgba(83,105,228,1)));
background: -webkit-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
background: -o-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
background: -ms-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
background: linear-gradient(to right, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );
border-radius:100%;
font-family: 'Matter-Bold';
margin: 0;
max-width: 230px;
min-height: 230px;
display: flex;
text-align:center;
align-items: center;
justify-content: center;
padding: 25px;
color:#fff;
margin:0 auto;}

.circle-02 {
background: rgba(98,216,214,1);
background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 35%, rgba(83,105,228,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(35%, rgba(83,105,228,1)), color-stop(100%, rgba(83,105,228,1)));
background: -webkit-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 35%, rgba(83,105,228,1) 100%);
background: -o-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 35%, rgba(83,105,228,1) 100%);
background: -ms-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 35%, rgba(83,105,228,1) 100%);
background: linear-gradient(to right, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 35%, rgba(83,105,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );
border-radius:100%;
font-family: 'Matter-Bold';
margin: 0;
max-width: 230px;
min-height: 230px;
display: flex;
text-align:center;
align-items: center;
justify-content: center;
padding: 25px;
color:#fff;
margin:0 auto;}

.circle-03 {
background: rgba(98,216,214,1);
background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 2%, rgba(83,105,228,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(2%, rgba(83,105,228,1)), color-stop(100%, rgba(83,105,228,1)));
background: -webkit-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 2%, rgba(83,105,228,1) 100%);
background: -o-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 2%, rgba(83,105,228,1) 100%);
background: -ms-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 2%, rgba(83,105,228,1) 100%);
background: linear-gradient(to right, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 2%, rgba(83,105,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );
border-radius:100%;
font-family: 'Matter-Bold';
margin: 0;
max-width: 230px;
min-height: 230px;
display: flex;
text-align:center;
align-items: center;
justify-content: center;
padding: 25px;
color:#fff;
margin:0 auto;}

.circle-01 h5, .circle-02 h5, .circle-03 h5 {margin:0;line-height:1;}

.margin-linea-circle {margin:35px 0}

.back-seccion-circles {background:url('../images/back_seccion_circles.jpg');background-size: 100%;background-position: 0 100px;background-color: #fff;background-repeat: no-repeat;padding-bottom:40px;}

.back-seccion-circles h2 {font-family: 'Matter-Bold';color: #00D9D7;font-size: 20px;line-height: 1;margin: 0 0 30px;min-height: 95px;}

.circle-small:hover {text-decoration:none;transition:.6s;background:#00D6D7;}
.circle-small:hover h1 {color:#fff;transition:.6s;}

.circle-small::before {content: '';position: absolute;left: -6px;right: -6px;top: -6px;bottom: -6px;border: 2px #00D6D7 solid;border-radius: 100%;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;}
.animate-delay-05::before {animation-delay:0.5s;}
.animate-delay-1::before {animation-delay:1s;}
.animate-delay-2-05::before {animation-delay:0.5s !important;}
.animate-delay-2-1::before {animation-delay:1s !important;}
.animate-delay-3-05::before {animation-delay:0.5s !important;}
.animate-delay-3-1::before {animation-delay:1s !important;}

.circle-small {padding: 20px;position:relative;background: #fff;transition:.6s;display: flex;align-items: center;justify-content: center;border-radius: 100%;width: 170px;height: 170px;margin:0 auto 20px;}
.circle-small h1 {transition:.6s;font-size: 19px;margin: 0;font-family: 'Matter-Regular';color: #00D6D7;}


.circle-small-2:hover {text-decoration:none;transition:.6s;background:#00ABDE;}
.circle-small-2:hover h1 {color:#fff;transition:.6s;}

.circle-small-2::before {content: '';position: absolute;left: -6px;right: -6px;top: -6px;bottom: -6px;border: 2px #00ABDE solid;border-radius: 100%;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;}

.circle-small-2 {padding: 20px;position:relative;background: #fff;transition:.6s;display: flex;align-items: center;justify-content: center;border-radius: 100%;width: 170px;height: 170px;margin:0 auto 20px;}
.circle-small-2 h1 {transition:.6s;font-size: 19px;margin: 0;font-family: 'Matter-Regular';color: #00ABDE;}

.circle-small-3:hover {text-decoration:none;transition:.6s;background:#456DE7;}
.circle-small-3:hover h1 {color:#fff !important;transition:.6s;}

.circle-small-3::before {content: '';position: absolute;left: -6px;right: -6px;top: -6px;bottom: -6px;border: 2px #456DE7 solid;border-radius: 100%;-webkit-animation: flickerAnimation 3s infinite;-moz-animation: flickerAnimation 3s infinite;-o-animation: flickerAnimation 3s infinite;animation: flickerAnimation 3s infinite;}

.circle-small-3 {padding: 20px;position:relative;background: #fff;transition:.6s;display: flex;align-items: center;justify-content: center;border-radius: 100%;width: 170px;height: 170px;margin:0 auto 20px;}
.circle-small-3 h1 {transition:.6s;font-size: 19px;margin: 0;font-family: 'Matter-Regular';color: #456DE7;}

.custom-p-sec-top p {padding: 35% 10%;color: #00CFD8;font-family: 'Matter-Bold';font-size: 32px;line-height:1;}

.info-circles {padding:90px 0;background: rgba(98,216,214,1);background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(100%, rgba(83,105,228,1)));background: -webkit-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);background: -o-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);background: -ms-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);background: linear-gradient(to right, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );}

.info-circles h4 {color:#fff;font-family: 'Matter-Bold';margin:0;font-size:17px;}
.info-circles small {position: relative;top: -5px;}
.info-circles h3 {font-family: 'Matter-Bold';text-align: center;font-size: 44px;margin: 40px 0 15px;color: #27266B;}
.info-circles h3 small {font-size: 27%;top: -18px;}

.info-circles hr {border-color: #fff;margin:100px 0;border-width: 2px;}
.img-circle {max-width: 160px;margin-left: auto;display: block;margin-bottom:50px;}
.info-circle-min h5 {font-family: 'Matter-Bold';color:#fff;line-height:1;font-size: 24px;margin: 10px 0 10px;}
.info-circle-min p {font-family: 'Matter-Regular';color:#27266B;line-height:normal;margin: 0;font-size: 16px;}

.text-refe {color: #fff;font-family: 'Matter-Bold';font-size: 13px;line-height: normal;margin: 40px 0 0;}

.list-custom {padding:0 15px;margin:0 0 85px;}
.list-custom li {font-family: 'Matter-Regular';color:#00CFD8;}
.list-custom li p {color:#27266B;margin:0 0 10px;}

.max-icons-medicos {max-width: 250px;margin-left: auto;display: block;}
.info-circles .custom-info h4 {color: #00CFD8;font-size: 30px;}
.info-circles .custom-info h4 small {top: -12px;font-size: 48%;}
.info-circles .custom-info p {color: #27266B;font-family: 'Matter-Bold';margin:0;font-size: 14px;}

.info-circles h5 {font-size: 22px;margin: 0;color: #00CFD8;font-family: 'Matter-Bold';}

.custim-p-cuerpo {font-family: 'Matter-Regular';color: #000;margin: 0;line-height: normal;font-size: 19px;}
.custom-p-info {margin: 90px 0 0;font-size: 12px;font-family: 'Matter-Regular';color: #27266B;}

.custom-parrafo-infecciones-02 {font-size: 17px;color: #fff;font-family: 'Matter-Regular';margin: 0;}

.custom-close {padding:10px 25px;}
.custom-close a {display:inline-block;}
.custom-close a:hover {text-decoration:none;}
.custom-close a:hover i {color:#62D7D5;transition:.6s;}
.custom-close i {font-size:25px;color:#5469E5;transition:.6s;}
.custom-close i {font-size:25px;color:#5469E5;transition:.6s;}

.home-link:hover {text-decoration:none;opacity:.6;transition:.6s;}
.home-link {transition:.6s;}

.circle-small-v2 {padding: 20px;position:relative;background: rgba(98,216,214,1);
background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(100%, rgba(83,105,228,1)));
background: -webkit-linear-gradient(left, rgba(98,216,214,1) -80%, rgba(83,105,228,1) 100%);
background: -o-linear-gradient(left, rgba(98,216,214,1) -80%, rgba(83,105,228,1) 100%);
background: -ms-linear-gradient(left, rgba(98,216,214,1) -80%, rgba(83,105,228,1) 100%);
background: linear-gradient(to left, rgba(98,216,214,1) -80%, rgba(83,105,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );transition:.6s;display: flex;align-items: center;justify-content: center;border-radius: 100%;width: 170px;height: 170px;margin:0 auto 20px;}
.circle-small-v2 h1 {transition:.6s;font-size: 19px;margin: 0;font-family: 'Matter-Regular';color: #fff;text-align:center;}

.indice-info {background:url('../images/back_indices_02.png');background-position: top center;padding:130px 0 0;background-repeat:no-repeat;background-size:100%;}
.indice-info h3 {font-family: 'Matter-Bold';color: #fff;margin: 0 0 25px;font-size: 35px;}
.indice-info p {font-family: 'Matter-Medium';color: #fff;margin: 0;font-size: 20px;line-height: normal;}

.indice-info .info-graficos {text-align:center;padding:30px 0;margin:90px 0;}
.indice-info .info-graficos p {font-family: 'Matter-Medium';color: #fff;margin: 0 auto 20px;font-size: 17px;max-width: 225px;}
.indice-info .info-graficos .p-tipo02 {font-family: 'Matter-Regular';font-size: 17px;margin: 20px auto 0;}
.grafico01 {max-width:250px;}
.grafico02 {max-width:120px;}

.indice-info-02 {background:url('../images/back_indices_03.png');background-position:top center;background-size: 100%;padding:140px 0 60px;}
.indice-info-02 h3 {font-family: 'Matter-Bold';color: #27266B;margin:0 0 100px;font-size: 35px;}

.left-info p {font-family: 'Matter-Bold';color:#fff;line-height: normal;font-size: 20px;margin: 0;}
.box-01-left {background:#4669E8;height:554px;}
.content-info {background: #fff;padding: 0 30px;height: 180px;margin: 0 7px 7px;}
.content-info p {color:#27266B;}

.content-info-right {background:#fff;padding: 30px 30px 10px;box-shadow: 11px 20px 20px 0px rgba(0, 0, 0, 0.2);}
.content-info-right h4 {margin: 0;border-top: 2px #27266B solid;border-bottom: 2px #27266B solid;padding: 15px 0;font-family: 'Matter-Bold';color: #27266B;line-height: 1;font-size: 35px;}
.content-info-right hr {border-color: #27266B;border-width: 3px;}

.justific-text {max-width: 48%;display: inline-flex;height: 450px;}
.justific-text p {font-family: 'Matter-Regular';color: #27266B;margin: 0;font-size: 11px;text-align: justify;padding: 0 5px;}


.indice-info-03 {background:url('../images/back_indices_04.jpg');background-position:top center;background-size: 100%;padding:140px 0 60px;}
.indice-info-03 h3 {font-family: 'Matter-Bold';color: #00C0DB;margin:0 0 0;font-size: 35px;}
.indice-info-03 h4 {font-family: 'Matter-Medium';color: #27266B;margin:15px 0 100px;font-size: 17px;}


.info-tabla-02 h5 {font-family: 'Matter-Bold';margin: 0 0 15px;color: #27266B;font-size: 20px;}
.info-tabla-02 p {font-family: 'Matter-Regular';margin: 25px 0 0;line-height: normal;font-size: 11px;color: #27266B;}

.info-tabla-02 hr {border-color:#27266B;}

.info-tabla-02 ul {padding:0 3px;margin:0;}
.info-tabla-02 ul li {color:#00D6D7;font-size: 12px;}
.info-tabla-02 ul li p {font-size: 12px;margin: 0 0 5px;font-family: 'Matter-Medium';}


.sepsis-info-03 {background:#fff;padding:80px 0 60px;}
.sepsis-info-03 h3 {font-family: 'Matter-Bold';color: #00C0DB;margin:0 0 0;font-size: 35px;}
.sepsis-info-03 h4 {font-family: 'Matter-Medium';color: #27266B;margin:0 0 85px;font-size: 22px;}

.box-sepsis {background:#00CCD9;padding: 30px;text-align: center;width: 320px;height: 320px;margin:0 auto;}
.box-sepsis p {font-family: 'Matter-Medium';color: #fff;margin: 0;font-size: 19px;line-height: normal;}
.flecha-icon {max-width: 71px;margin: 0 auto;display: block;}

.linea-de-puntos {padding:0 25px;margin-top:25px;margin-bottom: 75px;}

.text-grafico-predective {font-family: 'Matter-Medium';font-size: 15px;line-height: normal;color: #00CCD9;}

.linea-sepsis {border-color: #3C7BE6;border-width: 2px;margin: 65px 0;}

.icons-p {font-family: 'Matter-Medium';margin:0;color:#3C7BE6;font-size:14px;}

.img-grupo-icons {max-width: 255px;margin: 0 auto;display: block;}

.content-icons {margin: 0 25px;width: 150px;}
.content-icons img {max-width:80px;}
.content-icons p {margin:10px 0;text-align: left;color: #fff;font-family: 'Matter-Bold';line-height: normal;font-size: 16px;text-align:center;}

.info-bottom-modalidad {margin-top:100px;margin-left:0;margin-right:0;}
.info-bottom-modalidad h5 {font-family: 'Matter-Medium';color:#fff;margin: 0 0 25px;font-size: 24px;}
.info-bottom-modalidad h5 small {font-size: 45%;position: relative;top: -10px;}
.info-bottom-modalidad h5 b {color:#00C6DA;}

.box-info {
  display: inline-flex;
  flex-direction: column;
  width: 49%;
  padding: 0;
  align-items: center;
  justify-content: center;
  position:relative;
}

.linea-01-number {position: absolute;max-width: 100%;left: 0;}

.sub-infor {margin-bottom: 45px;}

.box-info h2 {font-family: 'Matter-Medium';margin:0;color:#00C6DA;font-size: 45px;}
.box-info p {font-family: 'Matter-Regular';margin:0;color:#fff;font-size: 17px;line-height: normal;}

.border-box-info {border-right:1px #fff solid}

.custom-info-parrafo {font-family: 'Matter-Regular';color:#fff;margin:0;line-height: normal;}
.custom-info-parrafo strong {font-family: 'Matter-Bold';color:#00C6DA;}

.last-parrafo {color: #fff;margin: 60px 0 0;font-family: 'Matter-Regular';font-size: 11px;}

.text-tabla-equipo {text-align: left;margin: 40px 0 80px;font-family: 'Matter-Regular';color: #27266B;font-size: 12px;}

.sepsis-info-03 .tabla-equipos-title {background:#4669E8;padding:25px;text-align:center;text-align: center;margin: 2px 2px;}
.sepsis-info-03 .tabla-equipos-title h4 {font-family: 'Matter-Bold';color:#fff;margin: 0;font-size: 27px;}
.sepsis-info-03 .tabla-equipos-title h5 {font-family: 'Matter-Bold';color:#fff;margin: 0;}

.tabla-equipos-p {padding: 40px 65px;background: #F1F1F1;margin:5px 2px;}
.tabla-equipos-p p {font-family: 'Matter-Regular';font-size: 18px;margin: 0;}
.tabla-equipos-p p b {font-weight: normal;color: #4669E8;font-family: 'Matter-Bold';}


.melhorar-info {background:#FF6C84;padding:80px 0 60px;}
.melhorar-info h3 {font-family: 'Matter-Bold';color: #27266B;margin:0 0 0;font-size: 35px;}
.melhorar-info p {font-family: 'Matter-Regular';color: #27266B;margin: 10px 0 0;font-size: 17px;line-height: normal;}

.maximinar-info {padding:50px 0;}
.maximinar-info h4 {font-family: 'Matter-Bold';color: #27266B;font-size: 17px;line-height: normal;margin: 15px 0 20px;text-align: center;}
.maximinar-info p {font-family: 'Matter-Regular';font-size: 12px;line-height: normal;margin: 30px 0 0;color: #27266B;}

.img-custom-w {max-width: 130px;margin: 0 auto;display: block;}

.maximinar-info-02 {background:url('../images/fondo_maximizar_02.jpg');background-position:top center;background-size:100%;padding:125px 0 0;background-repeat: no-repeat;display: inline-block;width: 100%;}
.logo-sanatorio {max-width:250px;margin:0 auto;display:block;}

.maximinar-info-02 h3 {font-family: 'Matter-Bold';color: #E06C7A;margin: 0 5%;}
.border-title {border-top:2px #E06C7A solid;border-bottom:2px #E06C7A solid;padding: 15px 0;margin-top: 40px;margin-bottom: 40px;}
.maximinar-info-02 h5 {text-align:center;font-family: 'Matter-Regular';margin: 0 15px;font-size: 18px;}

.flecha-multi {max-width: 70px;margin: 0 5px;}

.img-custom-w-02 {max-width: 130px;display: block;margin: 0 auto;}

.maximinar-info-03 {background:url('../images/fondo_blanco_maximizar.jpg');background-position: top center;display: inline-block;width: 100%;padding-top: 60px;background-repeat: no-repeat;background-size: 100%;padding-bottom:75px;}
.maximinar-info-03 h2 {font-family: 'Matter-Bold';color: #27266B;margin: 20px 0 60px;text-align: center;font-size: 27px;line-height: normal;}
.maximinar-info-03 h3 {font-family: 'Matter-Bold';color: #E06C7A;margin: 0 5%;}
.maximinar-info-03 h5 {text-align:center;font-family: 'Matter-Regular';margin: 0 15px;font-size: 18px;}

.mg-row {margin:70px 0;}
.gruop-logos-max {text-align:center;background: #F1F1F1;padding: 10px 0;}
.gruop-logos-max img {max-width:320px;}

.info-icons-05 {margin-top:50px;}
.info-icons-05 img {max-width: 150px;margin: 0 auto;display: block;}
.info-icons-05 p {font-family: 'Matter-Regular';color:#27266B;margin:0;line-height: normal;font-size: 17px;}

.custom-nube-info {padding:10px 0;}
.custom-nube-info h4 {color: #27266B;font-family: 'Matter-Bold';font-size: 22px;line-height: normal;margin:70px 0 45px;}
.img-nube {max-width: 260px;margin-bottom: 50px;}
.custom-nube-info hr {border-color: #FF6C84;border-width: 4px;}

.max-logos-max {max-width: 125px;margin: 0 20px;}
.gruop-logos-02 .cutom-hr {border-width: 2px;border-color: #000;display: inline-block;height: 100px;width: 1px;background: #000;margin: 0 15px;}

.icon-flecha-degrade {max-width: 20px;margin: 0 10px;}

.custom-h3-circles {margin:70px auto}
.custom-h3-circles h3 {margin: 0;color: #AE79DE;font-family: 'Matter-Bold';font-size: 30px;line-height: normal;}

.border-top-color {border-right: 1px #000 solid;min-height: 165px;}

.color-2 .aro-pastilla {border-color:#FF6C7A !important;}
.color-2 .pastilla_click {background:#FF6C7A !important;}

.color-3 .aro-pastilla {border-color:#BF7AE1 !important;}
.color-3 .pastilla_click {background:#BF7AE1 !important;}

.aro-pastilla {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 3px #00D7D3 solid;
    border-radius: 100%;
    top: -15px;
    bottom: 0;
    left: 40px;
    transform: translateX(75%);
    transition: 1.5s;
    transition-delay: 1.4s;
    opacity:0;
}

.transitiom-aro-pastilla {
    transition: 1.5s;
    opacity: 1;
    transition-delay: 1s;
    transform:translateX(-25%);
}
.hover-click {transition:.6s;transform:scale(1);}
.hover-click:hover {text-decoration:none;transform:scale(1.06);transition:.6s;}

.pastilla_click {
    background: #00D7D3;
    max-width: 390px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 65px;
    border-radius: 85px;
    position: relative;
    right: 0;
    z-index: 10;
    margin: 0 auto;}
.pastilla_click p {
    color: #fff;
    font-family: 'Matter-Bold';
    margin: 0;
    font-size: 23px;
    text-align: center;
    line-height: normal;
}

.pastilla-header {margin-left:auto;margin-right:40px;position:relative;}

.left-info-pastilla {width: 100%;max-width: 400px;height: 270px;background: #00D7D3;border-radius: 130px;position: relative;z-index: 2;right: -230px;}
.left-info-pastilla h5 {text-align: left;padding: 0 2px;display: inline-block;max-width: 50%;font-size: 32px;}
.right-info-pastilla {max-width: 580px;background: #fff;border-radius: 130px;padding-left: 26%;height: 270px;padding-right: 60px;position: relative;left: 0;width: 100%;}
.right-info-pastilla p {padding: 0;margin: 0;}

.aro-pastilla-header {width: 300px;height: 300px;position: absolute;border-radius: 100%;border: 3px #00D7D3 solid;z-index: 1;transform: translateX(0%);transition: 1.5s;transition-delay: 1.4s;opacity:0;}
.transitiom-aro-pastilla-header {
    transition: 1.5s;
    opacity: 1;
    transition-delay: 2s;
    transform: translateX(-45%);
}

.transitiom-aro-pastilla-int {
    transition: 1.5s !important;
    opacity: 1 !important;
    transition-delay: 2s !important;
    transform: translateX(48%) !important;
}

.back-seccion-circles .hover-click{margin-bottom:50px;}


.aro-pastilla-int {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 3px #fff solid;
    border-radius: 100%;
    left: 0;
    transform: translateX(90%);
    transition: 1.5s;
    transition-delay: 1.4s;
    opacity:0;
}

.pastilla_click_int {
    background: #fff;
    max-width: 180px;
    height: 115px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 25px;
    border-radius: 85px;
    position: relative;
    right: 0;
    z-index: 10;
    margin: 0 auto 0;}
.pastilla_click_int p {
    color: #00D7D3;
    font-family: 'Matter-Regular';
    margin: 0;
    font-size: 17px;
    text-align: center;
    line-height: normal;
}

.left-pas-int {
    background: #00D7D3;
    width: 390px;
    height: 245px;
    border-radius: 155px;
    padding: 0;
    position: relative;
    right: -16%;
    z-index: 2;}
.left-pas-int h2 {max-width: 45%;margin: 0 auto 10px;font-family: 'Matter-Bold';color: #fff;line-height: 1;font-size: 30px;}

.middle-pas-int {
    background: rgba(98,216,214,1);
    background: -moz-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,216,214,1)), color-stop(100%, rgba(83,105,228,1)));
    background: -webkit-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
    background: -o-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
    background: -ms-linear-gradient(left, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
    background: linear-gradient(to right, rgba(98,216,214,1) 0%, rgba(83,105,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62d8d6', endColorstr='#5369e4', GradientType=1 );
    width: 460px;
    height: 245px;
    border-radius: 155px;
    padding-left: 13%;
    position: relative;
    z-index:1;}
.middle-pas-int h2 {max-width: 45%;margin: 0 auto 10px;font-family: 'Matter-Bold';color: #fff;line-height: 1;font-size: 30px;}

.right-pas-int {background: #fff;width: 400px;height: 245px;border-radius: 155px;padding-left: 15%;position: relative;left: -17%;}
.right-pas-int h3 {max-width: 45%;margin: 0 auto 10px;font-family: 'Matter-Bold';color: #00A8DE;line-height: 1;font-size: 35px;}

.pastillas-internas-header {margin-top:auto;margin-bottom:70px;position:relative;}
.aro-int-header {
    position: absolute;
    width: 275px;
    height: 275px;
    border: 3px #00D7D3 solid;
    border-radius: 100%;
    transform: translateX(0%);
    transition: 1.5s;
    transition-delay:2s;
    opacity:0;}

.transitiom-aro-int-header {
    transition: 1.5s !important;
    opacity: 1 !important;
    transition-delay: 2s !important;
    transform: translateX(-113%) !important;
}

.info-circles-quedas h5 {color: #fff;font-size: 44px;text-align: right;line-height: 1;}
.info-circles-quedas hr {background: #fff;margin: 0 20px;height: 140px;width: 3px;}
.info-circles-quedas p {color: #fff;margin: 10px 0 0;font-family: 'Matter-Bold';line-height: normal;font-size: 18px;}
.icon-quedas-01 {max-width: 30px;}

.icon_modalidad_01 {max-width: 40px;margin-left: -55px;margin-right: 15px;}

.text-video {font-family: 'Matter-Medium';color: #00C6DA;font-size: 12px;margin: 20px 0 0;}

.modalidades-fin {display:inline-block;width:100%;background:url('../images/back_fondo_modalidades_fin.jpg');background-repeat:no-repeat;background-size:100%;background-position:top center;padding-top:100px;}

.modalidades-fin h2 {font-family: 'Matter-Bold';color: #fff;margin: 0;}
.modalidades-fin h3 {font-family: 'Matter-Bold';color: #27266a;margin: 10px 0 55px;font-size: 47px;}

.content-img-line {max-width:210px;display:inline-block;}
.content-img-line p {color: #fff;font-family: 'Matter-Bold';margin: 10px 0 0;font-size: 17px;}

.last-info {margin:70px 0;}
.last-info p {font-family: 'Matter-Medium';color:#fff;line-height: normal;font-size: 22px;margin:0;}
.last-info ul {padding: 0;margin:0 65px;}
.last-info ul li {color: #fff;font-size: 25px;margin-bottom:-5px;}
.last-info ul li p {position: relative;margin-left: -5px;}

.img-facil-01 {max-width:370px;}
.img-facil-02 {max-width: 55px;margin: 0 25px;}
.img-facil-03 {max-width: 310px;}
.group-img-facil {max-width: 300px;margin-left: 40px;}
.img-facil-04 {max-width: 245px;margin-bottom: 80px;}
.img-facil-05 {max-width: 210px;}
.img-facil-06 {max-width: 355px;margin-left: auto;margin-right: 30px;margin-top: 85px;}
.img-facil-07 {max-width: 355px;margin-right: auto;margin-left: 30px;margin-top: 85px;}

.btn-01 {background: #BF7AE1;display: inline-block;transition:.6s;border-radius: 7px;color: #fff;padding: 8px 28px 10px;margin-top: 20px;font-family: 'Matter-Bold';line-height: normal;font-size: 14px;}
.btn-01:hover {cursor:pointer;background:#566BE5;transition:.6s;}

.btn-02 {background: #566BE5;display: inline-block;transition:.6s;border-radius: 7px;color: #fff;padding: 8px 28px 10px;margin-top: 20px;font-family: 'Matter-Bold';line-height: normal;font-size: 14px;}
.btn-02:hover {cursor:pointer;background:#BF7AE1;transition:.6s;}

.flechas {position: absolute;bottom: 38%;right: 12%;display: inline-block;width: auto;height: 75px;transform: rotate(0deg) scale(1.3);opacity: 1;transition: .6s;}
.flechas a:hover .chevron:before, .flechas a:hover .chevron:after {background:#5577e2;transition:.6s;}
.flechas a {height:75px;display:inline-block;}
.flechas a .chevron:before, .flechas a .chevron:after {transition:.6s;}

.chevron {
  position: relative;
  width: 25px;
  height: 4px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  border-radius: 25px;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 54%;
  background:#00d7d3;
  border-radius: 27px;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


.flechas-header {position: absolute;transform: rotate(90deg) scale(0.9);bottom: 0;right: 5%;display: inline-block;width: auto;height: 75px;opacity: 1;transition: .6s;}
.flechas-header a:hover .chevron-header:before, .flechas-header a:hover .chevron-header:after {background:#62D7D5;transition:.6s;}
.flechas-header a {height:75px;display:inline-block;}
.flechas-header a .chevron-header:before, .flechas-header a .chevron-header:after {transition:.6s;}
.opacity-1 {opacity:1 !important;transition:.6s;transform: rotate(-180deg) scale(1)}

.chevron-header {
  position: relative;
  width: 25px;
  height: 4px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  border-radius: 25px;
}

.chevron-header:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron-header:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron-header:before,
.chevron-header:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 54%;
  background:#5469E5;
  border-radius: 27px;
}

.chevron-header:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron-header:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

footer {background: #27266B;}
footer img {max-width:160px !important;}
footer p {font-family: 'Matter-Medium';color: #fff;margin: 0;text-align: right;padding: 0 30px;font-size: 12px;}

@media (max-width: 767px) {

	body, html {overflow:auto !important;}
	.home-background , .h-row-2-home {min-height:100%;}
	.text-right-home h3 {font-size:3.5em;margin-top:45px;}

}